/* Navbar */
.nav-bar {
  z-index: 100;
}
.active {
  @apply p-3 rounded-2xl bg-red-500;
}
.tab {
  @apply p-3;
}

/* About */
.circle,
.circle-left {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: -90%;
}
.circle {
  right: -5%;
}
.circle-right {
  left: -5%;
}

/* Process */
.processes > div,
.processes {
  z-index: 10;
}
.processes > div::before {
  z-index: -1;
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: -10%;
  left: -10%;
  background-color: #e26e73;
  box-shadow: -6px -3px 9px #5252525c;
}
